$border: 1px solid;

@mixin btn {
  width: 120px;
  height: 35px;
  background-color: #02897a;
  border: 1px solid #02897a;
  color: white;
}

header {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  border: $border;
}

nav {
  display: flex;
  width: 100%;
  height: 10%;
  border: $border;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    border: $border;

    img {
      width: 178px;
      height: 36.36px;
    }
  }
  .list {
    width: 60%;
    height: 100%;
    border: $border;

    .list__item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      border: $border;

      a {
        text-decoration: none;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #22343d;
      }
      .btn {
        @include btn();
      }
      .list__btn {
        width: 120px;
        height: 35px;
        color: black;
      }
    }
  }
  .menu {
    display: none;
  }
}
.hero {
  display: flex;
  width: 100%;
  height: 90%;
  border: $border;

  .hero__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: $border;

    .hero__text-text {
      width: 80%;
      height: 80%;
      border: $border;

      h1 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 60px;
        color: #22343d;
        margin-bottom: 25px;
      }
      article {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #22343d;
        margin-bottom: 45px;
      }
      .hero__text-button {
        display: flex;
        gap: 20px;

        .btn {
          @include btn();
        }
        span {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 40px;
          text-decoration-line: underline;
          color: #02897a;
        }
      }
    }
  }
  .hero__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: $border;

    .hero__img-img {
      width: 80%;
      height: 80%;
      border: $border;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  header {
    width: 100%;
    // background-color: red;
  }
  nav {
    .logo {
      width: 40%;
    }
    .list {
      width: 60%;
      .list__item {
        width: 100%;

        a {
          // background-color: red;
          font-size: 12px;
        }
        .btn {
          width: 80px;
        }
        .list__btn {
          width: 80px;
        }
      }
    }
  }
  .hero {
    .hero__text {
      .hero__text-text {
        h1 {
          font-size: 35px;
        }
        article {
          font-size: 15px;
        }
        .hero__text-button {
          .btn {
            width: 100px;
          }
          span {
            font-size: 15px;
          }
        }
      }
    }
    .hero__img {
      .hero__img-img {
        width: 75%;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  header {
    width: 100%;
    // background-color: red;
  }
  nav {
    .logo {
      width: 40%;
    }
    .list {
      width: 60%;
      .list__item {
        width: 100%;

        a {
          // background-color: red;
          font-size: 10px;
        }
        .btn {
          width: 60px;
        }
        .list__btn {
          width: 60px;
        }
      }
    }
  }
  .hero {
    .hero__text {
      .hero__text-text {
        width: 70%;
        height: 60%;
        h1 {
          font-size: 30px;
          margin-bottom: 5px;
        }
        article {
          font-size: 13px;
          margin-bottom: 15px;
        }
        .hero__text-button {
          .btn {
            width: 90px;
          }
          span {
            font-size: 12px;
          }
        }
      }
    }
    .hero__img {
      .hero__img-img {
        width: 70%;
        height: 60%;
      }
    }
  }
}

@media only screen and (max-width: 830px) {
  header {
    width: 830px;
    height: 400px;
    // background-color: red;
  }
  nav {
    .logo {
      width: 40%;
    }
    .list {
      width: 60%;
      .list__item {
        width: 100%;

        a {
          // background-color: red;
          font-size: 10px;
        }
        .btn {
          width: 60px;
        }
        .list__btn {
          width: 60px;
        }
      }
    }
  }
  .hero {
    .hero__text {
      .hero__text-text {
        width: 70%;
        height: 60%;
        h1 {
          font-size: 25px;
          margin-bottom: 5px;
        }
        article {
          font-size: 13px;
          margin-bottom: 15px;
        }
        .hero__text-button {
          .btn {
            width: 90px;
          }
          span {
            font-size: 12px;
          }
        }
      }
    }
    .hero__img {
      .hero__img-img {
        width: 70%;
        height: 60%;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  header {
    width: 100%;
    height: 350px;
    // background-color: red;
  }
  nav {
    .logo {
      width: 30%;
      img {
        width: 120px;
        height: 20px;
      }
    }
    .list {
      width: 70%;
      .list__item {
        width: 100%;

        a {
          // background-color: red;
          font-size: 10px;
        }
        .btn {
          width: 55px;
          height: 25px;
        }
        .list__btn {
          width: 55px;
          height: 25px;
        }
      }
    }
  }
  .hero {
    .hero__text {
      .hero__text-text {
        width: 70%;
        height: 60%;
        h1 {
          font-size: 13px;
        }
        article {
          font-size: 9px;
        }
        .hero__text-button {
          .btn {
            width: 70px;
            font-size: 10px;
            border-radius: 2px;
            height: 25px;
          }
          span {
            // display: none;
            height: 50px;
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
    }
    .hero__img {
      .hero__img-img {
        width: 70%;
        height: 60%;
      }
    }
  }
}
@media only screen and (max-width: 565px) {
  header {
    width: 100%;
    height: 350px;
    // background-color: red;
  }
  nav {
    .logo {
      width: 30%;
      img {
        width: 120px;
        height: 20px;
      }
    }
    .list {
      width: 70%;
      .list__item {
        width: 100%;

        a {
          // background-color: red;
          font-size: 9px;
        }
        .btn {
          width: 55px;
          height: 20px;
        }
        .list__btn {
          width: 55px;
          height: 20px;
        }
      }
    }
  }
  .hero {
    .hero__text {
      .hero__text-text {
        width: 70%;
        height: 60%;
        h1 {
          font-size: 10px;
        }
        article {
          font-size: 8px;
        }
        .hero__text-button {
          .btn {
            width: 70px;
            height: 20px;
          }
          span {
            // display: none;
            height: 50px;
            font-size: 12px;
          }
        }
      }
    }
    .hero__img {
      .hero__img-img {
        width: 70%;
        height: 60%;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  header {
    width: 100%;
    height: 350px;
    // background-color: red;
  }
  nav {
    .logo {
      width: 30%;
      img {
        width: 120px;
        height: 20px;
      }
    }
    .list {
      width: 70%;
      .list__item {
        width: 100%;

        a {
          // background-color: red;
          font-size: 8px;
        }
        .btn {
          font-size: 8px;
          width: 50px;
          height: 15px;
        }
        .list__btn {
          font-size: 8px;
          width: 50px;
          height: 15px;
        }
      }
    }
  }
  .hero {
    .hero__text {
      .hero__text-text {
        width: 70%;
        height: 60%;
        h1 {
          font-size: 9px;
        }
        article {
          font-size: 7px;
        }
        .hero__text-button {
          .btn {
            font-size: 8px;
            width: 60px;
            height: 20px;
          }
          span {
            // display: none;
            height: 50px;
            font-size: 12px;
          }
        }
      }
    }
    .hero__img {
      .hero__img-img {
        width: 70%;
        height: 60%;
      }
    }
  }
}
@media only screen and (max-width: 436px) {
  header {
    max-width: 1200px;
    width: 100%;
    height: 350px;
    // background-color: red;
  }
  nav {
    .logo {
      width: 30%;
      img {
        width: 120px;
        height: 20px;
      }
    }
    .list {
      width: 70%;
      .list__item {
        width: 100%;

        a {
          // background-color: red;
          font-size: 7px;
        }
        .btn {
          font-size: 7px;
          width: 45px;
          height: 15px;
        }
        .list__btn {
          font-size: 7px;
          width: 45px;
          height: 15px;
        }
      }
    }
  }
  .hero {
    .hero__text {
      .hero__text-text {
        width: 70%;
        height: 60%;
        h1 {
          font-size: 8px;
        }
        article {
          font-size: 6px;
        }
        .hero__text-button {
          .btn {
            font-size: 7px;
            width: 50px;
            height: 15px;
          }
        }
      }
    }
    .hero__img {
      .hero__img-img {
        width: 60%;
        height: 50%;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  header {
    width: 100%;
    height: 100%;
  }
  nav {
    width: 100%;
    height: 100%;
    .logo {
      display: flex;
      justify-content: flex-start;
      width: 80%;
      height: 70px;
      img {
        margin: 0 auto;
        width: 200px;
        height: 50px;
      }
    }
    .list {
      display: none;
      .list__item {
        width: 100%;
      }
    }
    .menu {
      display: flex;
      text-align: center;
      display: block;
      width: 30%;
      height: 100%;
      padding: 15px;
      // border: 1px solid green;
      i {
        width: 100%;
        height: 100%;
        font-size: 35px;
      }
    }
  }
  .hero {
    flex-direction: column-reverse;
    .hero__text {
      width: 100%;
      // margin: 0 auto;
      .hero__text-text {
        width: 90%;
        height: 90%;
        h1 {
          text-align: center;
          font-size: 35px;
        }
        article {
          text-align: center;
          font-size: 18px;
        }
        .hero__text-button {
          display: flex;
          justify-content: center;
          .btn {
            width: 120px;
            height: 25px;
            border-radius: 5px;
            font-size: 13px;
            // border: 1px solid red;
          }
          span {
            font-size: 18px;
            line-height: 10px;
          }
        }
      }
    }
    .hero__img {
      width: 100%;
      // border: 1px solid red;
      .hero__img-img {
        width: 90%;
        height: 90%;
      }
    }
  }
}
